{%extends 'base.html'%}
{%block start%}

{%include 'app/full_page_banner.html'%}


<div class="container-fluid pt-5 bg-light">

    {%for category, prod in products_by_category.items%}

    <div class="alert bg-white">
        <div class="d-flex justify-content-between">
            
        <h5>{{category}}</h5>
        
        <h5><a href="">more</a></h5>
        
    </div>
    

    <div class="container">
    <div class="row">    

            {%for product in prod%}
            <div class="col-md-3">
                <a href="{%url 'app:product-details' product.slug%}">
                    <figure class="card card-product-grid">
                        <div class="img-wrap"> <img src="/media/{{product.images.first}}" class="pt-3"> </div>
                        <figcaption class="info-wrap text-center">
                            <a href="#" class="title">{{product.name}}</a>
                            <var class="price h6">
                                {{product.productVariant.first.price.sale_price}}
                            </var>
                            <p class="text-muted" style="text-decoration: line-through;">
                                {{product.productVariant.first.productPrice.first.price}}</p>

                        </figcaption>
                    </figure> <!-- card // -->
                </a>
            </div> <!-- col.// -->
            {%endfor%}

        </div>


    </div>
    </div>
    {%endfor%}
</div>




{%endblock%}